*{ 
    margin: 0;
    padding: 0;
    /* dla wszystkich elementow */
    font-family: 'Roboto Flex', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: fles;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 100px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa{
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }

    .row{
        flex-direction: column;
    }

    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }

    .contactus h1{
        font-size: 24px;
    }

    .car-btn{
        background-color: #555;
    }
}

.selling{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.selling-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.25s;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.selling-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.cars{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.cars-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.cars-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7)
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}

.car-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 70%; 
    background-color: #f44336;
}

.car-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}


.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    display: flex;
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p{
    padding: 0;
}

.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa{
    color: #f44336;
}

.contactus{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contactus h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.footer{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}

.footer-about{
    flex-basis: 48%;
    border-radius: 10px;
    position: relative;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #f44336;
}

/* about.html */

.sub-header{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.sub-header h1{
    margin-top: 20px;
    text-align: center;
}

.pnl-btn{
    margin-top: 2%;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover{
    color: #fff;
}

/* contact.html */

.location{
    margin: 0;
}

.location iframe{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 0%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* flota.html */

.flota{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.flota-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.flota-col img{
    width: 100%;
}

.flota-col h1{
    padding-top: 0;
}

.flota-col p{
    padding: 15px 0 25px;
}

/* login.html */

.singin{
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    padding: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.singin h2{
    margin-top: 0px;
    margin-bottom: 10%;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}

.singin input{
    display: block;
    width: 320px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(88, 88, 88, 0.5);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.singin ::placeholder, input[type="text"], input[type="password"], input[type="email"]{
    color:#fff;
}

.singin input[type="submit"]{
    width: 332px;
    height: 50px;
    margin-bottom: 10%;
    font-size: 16px;
    background: rgb(44, 43, 43);
    font-weight: 300;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    transition: 0.3s;
}

.singin input[type="submit"]:hover{
    background: rgb(83, 82, 82);
    transform: scale(105%);
}

.addbox input[type="submit"]{
    color: rgb(0, 0, 0);
}

